{% extends 'board/base.html' %}
{% block nav %}
<form action="{% url 'board:posting_page' page_title %}">
<button type="submit" onmouseover="">+ Add post</button>
</form>
{% endblock nav %}

{% block page_describtion %}
<div class="board_desc">
    <h1>{{ page_welcome_note }}</h1>
    <div class="desc_note">
        <p>
            {{ header_describtion |safe }}
        </p>
    </div>
    {% if tags %}
    <div class="tags">
        <ul>
            {% for tag in tags %}
            <li><a href="{% url 'board:tag_search' page_title tag.name %}">{{tag}}({{tag.post_count}})</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock page_describtion %}
{% block content %}
{% if message %}
<p class="board_page_message">
    {{ message }}
</p>
{% endif %}
{% if posts %}
    <ul class="posts_list">
        {% for post in posts %}
        <li class="post">
            <div class="post_head">
                <h4>{{ post.date_posted }}</h4>
                <div class="post_topbar">
                    <h2>{{ post.title }}</h2>
                    <form action="{% url 'board:show_replies' page_title post.id %}" class="post_actions">
                        {% csrf_token %}
                        <button onmouseover=""><span class="material-symbols-outlined">
                            inbox
                            </span><p>3 Replies</p></button>
                    </form>
                </div>
            </div>
            <a href="{{ post.url }}" class="post_title_url"><span class="material-symbols-outlined">
                link
                </span> {{ post.url_title }}</a>
            <p>{{ post.post_text }}</p>
            <div class="post_tags">
                <ul>
                    <li>Tags:</li>
                    {% for tag in post.tags.all %}
                    <li><a href="{% url 'board:tag_search' page_title tag.name %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>No posts were found</p>
{% endif %}
{% endblock content %}
